    
html,body{
  overflow-x: hidden;
 }


body {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .logo {
    float: left;
  }

  hr.rounded {
    margin: 120px;
    border-top: 4px solid #bbb;
    border-radius: 5px;
  }

  .universalfont {
    font-size: 40px;
    font-family: "Rosario";

  }

  a:link {
    text-decoration: none;
    color: black;
  }

  a:visited{
    text-decoration: none;
    color: black;
  }

  /*Navigation Bar*/

  .navigation-bar {
    background-color: #ffb64a;
    height: 70px;
    width: 100%;
    overflow: hidden;
  }

  .navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    float: right;
  }
  
  .navigation-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
  }

  .navigation-bar li a {
    color: white;
    font-size: 16px;
    font-family: 'Rosario';
    word-spacing: 4;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
  }

  .navigation-bar li button {
    background-color: #ffb64a;
  }

  .dropdown {
  float: right;
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 4px;
  display: inline;
  font-size: 14px;
  margin-top: 10px;
  font-family: 'Rosario';
}

  .dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: 'Rosario';
  margin: 0;/
}

  .navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #f19d1f;
}

  .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

  .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

  .dropdown-content a:hover {
  background-color: #ddd;
}

  .dropdown:hover .dropdown-content {
  display: block;
}
/*Middle section*/

  .middle-container{
    background-color:white;
    position:relative;
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .images {
    display: flex;
    justify-content: space-around;
  }
  .itemimg {
    margin: 0px 0px 0px 40px;
    width: 350px;
    border: 6px solid black;
  }

  .itemimg2 {
    width: 120px;
    border: 5px solid rgb(0, 0, 0);
    margin-left: 50px;
    margin-bottom: 100px;
  }
  .column h2 {
    height: 50px;
    width: 300px;
    text-align: center;
    font-size: 40px;
    border: 2px solid #ffb64a;
    border-radius: 5px;
    margin: 30px 40px 0px 275px;
    padding: 10px 0px;
    background-color: #ffb64a;
    color: white;
    font-family: "Rosario";
    text-decoration:none
  }

  .row {
    display: flex;
    margin-top: 60px;
    margin-bottom: 800px;
  }
  
  .column h1 {
    text-align: -webkit-center;
    font-size: 70px;
    color: rgb(0, 0, 0);
    font-family: "Rosario";
    text-decoration:none
  }

  .column {
    flex: 50%;
    padding: 10px;
    height: 300px;
    text-align: -moz-center;
  }

  .column h3 {
    text-align: left;
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-family: "Rosario";
    margin-top: 80px;
  }

  .column p {
    text-align: left;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: "Rosario";
    text-decoration:none;
    margin-right: 80px;
  }
/*Footer*/

.footer-container{
  background-color:rgb(0, 0, 0);
  position:relative;
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
}

.footer-navigation-bar {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: black;
}

.footer-navigation-bar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  float: right;
}

.footer-navigation-bar li {
  list-style-type: none;
  padding: 0px;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline;
}

.footer-navigation-bar li a {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-family: 'Rosario';
  word-spacing: 4;
  text-decoration: none;
  line-height: 70px;
  padding: 5px 15px;
}

@media only screen and (max-width:768px) {
  .navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    vertical-align: top;
    align-content: center;
  }
  .itemimg {
    width: 250px;
    border: 6px solid black;
    margin: auto;
  }
  .row {
    display: flex;
    margin: 60px 0px 80px 0px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  .column h2 {
    height: 50px;
    width: 300px;
    text-align: center;
    font-size: 40px;
    border: 2px solid #ffb64a;
    border-radius: 5px;
    padding: 10px 0px;
    background-color: #ffb64a;
    color: white;
    font-family: "Rosario";
    text-decoration: none;
    margin: auto;
  }
  .column p {
    text-align: left;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: "Rosario";
    text-decoration: none;
    text-align: center;
    margin: auto;
  }
  .column h3 {
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-family: "Rosario";
    margin-top: 80px;
    text-align: center;
  }
}


@media only screen and (min-width:768px) and (max-width:992px) {
  .navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    vertical-align: top;
    align-content: center;
  }
  .itemimg {
    width: 400px;
    border: 6px solid black;
    margin: auto;
  }
  .row {
    display: flex;
    margin: 60px 0px 80px 0px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  .column h2 {
    height: 50px;
    width: 300px;
    text-align: center;
    font-size: 40px;
    border: 2px solid #ffb64a;
    border-radius: 5px;
    padding: 10px 0px;
    background-color: #ffb64a;
    color: white;
    font-family: "Rosario";
    text-decoration: none;
    margin: auto;
  }
  .column p {
    text-align: left;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: "Rosario";
    text-decoration: none;
    text-align: center;
    margin: 40px 60px;
  }
  .column h3 {
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-family: "Rosario";
    margin-top: 80px;
    text-align: center;
  }
}